#NavBar
{

background-color: #ccc5b9;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 20px;
}


#NavBar img
{
/* I dont wanna delete this incase i need later or smth, idk */
}



#NavBar h2
{
justify-self: flex-start;
align-self: left;
color: #252422;
margin-right: auto;
}

#NavBar h3{

color: #252422;
}


#ADOPT_BUTTON
{
    background-color: #EB5E28;
    border-radius: 10px;
    height: 30px;
}
#ADOPT_BUTTON h3{
justify-self: flex-start;
align-self: top;
color: #252422;
margin-top: 5px;

}
