#NavBar
{

background-color: #ccc5b9;
display: flex;
align-items: center;
justify-content: flex-end;
gap: 20px;
}


#NavBar img
{
margin-right: auto;
}

#NavBar h3
{
text-align: right;
color: #252422;
}

#NavBar title
{
justify-self: flex-start;
align-self: left;
color: #252422;
}



