body{
    overflow-x: hidden;
}

#NavBar
{

background-color: #ccc5b9;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 20px;
width: 100%+10px;
margin: -10px;

}

#NavBar img
{
 width: 50px;
 height: 50px;
 margin: 5px;
} 
 


#NavBar h2
{
justify-self: flex-start;
align-self: left;
color: #252422;
margin-right: auto;
}

#NavBar h3{

color: #252422;
}


#ADOPT_BUTTON
{
    background-color: #EB5E28;
    border-radius: 10px;
    height: 30px;
    margin: 5px;
}

#ADOPT_BUTTON h3{
justify-self: flex-start;
align-self: top;
color: #252422;
margin-top: 5px;

}

#WelcomeMessage
{
    display: flex;
    justify-content: left;
    align-items: left;

    background-image: url('Dog_Jump.avif');
    background-color: rgba(139, 139, 139, 0.5); /* im trying to tint the colour */
    background-blend-mode: multiply;
    width: 99%;
    height: 600px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

#WelcomeMessage img 
{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin: 10px;
}

#WelcomeMessage h1 
{
    margin-top: 150px;
    color: #252422;
    font-size: 50px; 
    margin-bottom: 20px;
    margin-left: 10px;
}

#WelcomeMessage p{
     margin-top: 220px;
     margin-left: -390px;
    color: #252422;
    font-size: 20px;
}

#Bar{
    background-color: black;
    height: 8px;
    width: 110%;
    margin-left: -10px;
}
#Invite{
    font-size: 70px;
    align-self: Center;
    justify-self: Center;
    color: #252422;
    margin-top: 100px;
    margin-bottom: 100px;
}
#ADOPT_BUTTON_BIG{
    background-color: #EB5E28;
    border-radius: 10px;
    height: 180px;
    width: 500px;
    font-size: 80px;
    align-self: Center;
    justify-self: Center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 50px;
}
#ProcessText{
    font-size: 90px;
    justify-self: Center;
    color: #252422;
    margin-top: 100px;
    margin-bottom: 100px;


}
#Texts{
    font-size: 70px;
    justify-self: Center;
    color: #252422;
    margin-top: 100px;
    margin-bottom: 100px;

}
#Images{
    font-size: 70px;
    justify-self: Center;
    color: #252422;
    margin-top: 100px;
    margin-bottom: 10px;
    width: 500px;
    height: auto;
    margin-left: 475px
}
#navigation{
    background-color: #ccc5b9;
    border-color: #ccc5b9;
}
.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%; 
}

#Footer{
    background-color: rgb(153, 153, 153);
    height: 100px;
    width: 110%;
    margin: -10px;
} 
#form{
    margin-top: 5%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbb;




}
form input{
    width: 70%;
    margin-top: 5%;
    font-size: larger;
    text-align: center;
}
#buton{
    margin-top: 10%;
}
#EYE{
    width: 15px;
    height: auto;
}
#EYEHOLD{
    margin-left: -40px;
    background-color: transparent;
    border-color: transparent;
}
#ContactBack{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100px;
    background-color: #bbb;
    border-radius: 30px;

}
#Yap{
    font-size: 30px;
    justify-self: Center;
    color: #252422;
    margin-top: 0px;
    margin-bottom: 100px;

}
#ProcessTextForm{
    font-size: 90px;
    justify-self: Center;
    color: #252422;
    margin-bottom: 10px;


}
#ProcessTextForm2{
    font-size: 50px;
    justify-self: Center;
    color: #252422;
    margin-bottom: 10px;
    display: flex;
    align-self: center;
    padding-top: 20px;
} 
#PetHold{
    margin-left: 15%;
    width: 20%;
    height: 450px;
    margin-right: 15%;
    background-color: #bbb;
    text-align: center;
}
#PetIcon{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
#PetName{
    justify-self: center;
    text-align: center;
}
#holdy{
    display: flex;
    margin-top: 50px;
}

@media screen and (max-width:800px) { /* resizing for mobile and smaller devices */
  #form{
    margin-top: 45%;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #bbb;  
}
#buton{
    margin-top: 10%;
    width: 30%;
    margin-bottom: 5%;
    height: 35px;
}
#PetIcon{
    width: 50%;
    height: auto;
    margin-top: 20px;
}
#PetName{
    justify-self: center;
    text-align: center;
    font-size: xx-small;
}
#PetHold{
    margin-left: 5%;
    width: 40%;
    height: auto;
    margin-right: 5%;
    background-color: #bbb;
    text-align: center;
}
#WelcomeMessage h1 
{
    margin-top: 10%;
    color: #252422;
    font-size: 50px; 
    margin-bottom: 20px;
    margin-left: 10px;
}

#WelcomeMessage p{
     margin-top: 30%;
     margin-left: -390px;
    color: #252422;
    font-size: medium;
    margin-bottom: 10px;
}
#WelcomeMessage
{
    display: flex;
    justify-content: left;
    align-items: left;

    background-image: url('Dog_Jump.avif');
    background-color: rgba(139, 139, 139, 0.5); /* im trying to tint the colour */
    background-blend-mode: multiply;
    width: 99%;
    height: 30%;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
#Texts{
    font-size: xx-large;
    justify-self: Center;
    color: #252422;
    margin-top: 1%;
    margin-bottom: 5%;

}
#Images{
    font-size: 70px;
    justify-self: Center;
    color: #252422;
    margin-top: 100px;
    margin-bottom: 10px;
    width: 500px;
    height: auto;
    margin-left: 15%;
}
#ProcessText{
    font-size: 400%;
    justify-self: Center;
    color: #252422;
    margin-top: 4%;
    margin-bottom: 5%;


}
}